best-movie-for-you-firebase-adminsdk-69ut3-b98b2086c3.json
/config_template.yaml
config.yaml
mysite/config.yaml
corpus1.txt
corpus2.txt
corpus3.txt
/data/
/idTarget/
Phi_score.ipynb
POS.ipynb
stanford-ner-2014-06-16.zip
Triangle.ipynb
Untitled1.ipynb
upcoming_movie.ipynb
/.ipynb_checkpoints/
